body {
	background-color: #4AA270;
}
h1 {
	text-align: center;
	/* border: 1px solid red; */
	margin:0px;
}

.posts-wrapper {
	/* border:1px solid red; */
	width: 1210px;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.post {
	width: 270px;
	margin-top: 30px;
	margin-right: 30px;
	background-color: white;
	height: auto;
	/* border: 1px solid red; */
	text-decoration: none;

}
.post-description {	
	padding: 50px 0px;
	text-align: center;
}
img {
	display: block;
	width: 100%;
	/* max-height: 370px; */
}
video {
	display: block;
	width: 100%;
	max-height: 370px;
}
.post:nth-child(4n+1) {
	width: 570px;
}
a:hover {
	opacity: 0.7;
	cursor: pointer;
	color: red;
}